.container-fluid {
    background-color: yellow;
}

.card {
    overflow: hidden;
    margin: 30px;
}

.card img {
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.3);
}

/*  */

.formulario {
    background-color: red;
}
.navbar{
    padding-top: 0 !important;
}