.container-fluid{
    background-color: yellow;
}
.card {
    overflow: hidden;
    margin: 15px;
  }
  
  .card img {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover img {
    transform: scale(1.3);
  }
  